@import "./variables.scss";

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, $black-300, $gray-400 , $black-300);
  background-attachment: fixed;
}

.page-name {
  text-align: center;
  color: $red-100;
  font-size: 1.5rem;
  margin: 3dvh auto;
}

.accordion-item{
  margin: 5px;
}






