@import "./variables.scss";

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, $black-800, $red-950 , $black-800);
  background-attachment: scroll;
}

.page-name {
  text-align: center;
  color: $red-100;
  font-size: 1.7rem;
  margin: 3dvh auto;
}
