@import "./variables.scss";

* {
  font-family: "Nunito", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh !important;
  display: flex;
    flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90dvh !important;
}

.page-name  {
  display: flex;
  justify-content: center;
  text-align: center !important;
  color: $red-100;
  font-size: 1.5rem !important;
  margin: 1dvh auto !important;
}


li{
  list-style: none;
}

