$red-50: #fff1f0;
$red-100: #ffdfdd;
$red-200: #ffc5c1;
$red-300: #ff9d96;
$red-400: #ff655a;
$red-500: #ff3527;
$red-600: #fb1707;
$red-700: #e11001;
$red-800: #af1005;
$red-900: #90150c;
$red-920: #240603;
$red-950: #4f0500;

$black-300: #353535;
$black-800: #0e0e0e;

$white-100: #f5f5f5;
$white-200: #e9e9e9;
$white-300: #cecece;

$gray-400: #adadad;
$gray-800: #686868;

$transp-black: #050505bd;

$link-font: 1.2rem;
