$red-50: #fff1f0;
$red-100: #ffdfdd;
$red-200: #ffc5c1;
$red-300: #ff9d96;
$red-400: #ff655a;
$red-500: #ff3527;
$red-600: #fb1707;
$red-700: #e11001;
$red-800: #af1005;
$red-900: #90150c;
$red-950: #4f0500;


$black-300: #353535;
$black-800: #202020;

$link-font: 1.2rem;

