@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #e4e4e4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
